:root {
  --main-color: #0050ef;
  --main-color-7: rgb(0, 80, 239, 0.7);
  --main-color-4: rgb(0, 80, 239, 0.4);
  --second-color: #00b4d8;
  --second-color-7: rgba(0, 180, 216, 0.7);
  --second-color-4: rgba(0, 180, 216, 0.4);
  --third-color: #80dff1;
  --dark-grey: #383636;
  --light-grey: #f3f0f0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/* GLOBAL STYLES */

img {
  width: 100%;
}

h1 {
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  margin: 0;
}

h4 {
  font-size: 2rem;
  margin: 0;
}

p,
a {
  font-size: 1.4rem;
  margin: 0;
  font-weight: 300;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--dark-grey);
  line-height: 1.5;
}

/* UTILITIES */

.container {
  width: 70%;
  max-width: 120rem;
  margin: 0 auto;
}

.no-margin {
  margin: 0;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.u-case {
  text-transform: uppercase;
}

.h1-color {
  color: var(--second-color);
}

.btn {
  display: block;
  flex: 0 0 100%;
  /* border-radius: 0.2rem; */
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 0.7rem 2rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .btn {
    display: inline-block;
    flex: 0 0 auto;
  }
}

.btn:hover {
  background-color: var(--second-color);
  border: 1px solid var(--second-color);
}

.btn_secondary {
  background-color: var(--third-color);
  border: 1px solid var(--third-color);
}

/* SITE HEADER */
.site_header {
  height: 60rem;
  background-image: linear-gradient(
      to left,
      rgba(16, 25, 153, 0.6),
      rgba(9, 9, 24, 0.9)
    ),
    url("../img/site_header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* ALTERNATIVA PARA OVERLAY DE IMAGEN */
  /* box-shadow: inset 0 0 0 1000px rgba(3, 61, 119, 0.5); */
}

.site_header:after {
  content: "";
  background: url("../img/arrow_downward.svg") no-repeat center;
  display: block;
  width: 5rem;
  height: 5rem;
  background-color: var(--second-color);
  position: absolute;
  bottom: -2.5rem;
  left: 50%;
  margin-left: -2.5rem;

  cursor: pointer;
}

/* MENU BAR */

.menu_bar {
  max-width: 100vw;
  height: 6rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.4);
}

.menu_bar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_bar-items a {
  display: flex;
  color: #ffffff;
  text-decoration: none;
}

.logo {
  display: flex;
}

.logo p {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.logo span {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--second-color);
}

.menu {
  display: flex;
  align-items: center;
}

.menu_list {
  display: flex;
  margin: 0 2rem 0 0;
}

.menu_item,
.SubMenu_item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu_item a {
  height: 6rem;
  width: 10rem;
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.SubMenu_item a {
  width: 10rem;
  color: var(--dark-grey);
  padding: 0 1rem;
}

.menu_item:hover {
  background-color: rgb(255, 255, 255);
}

.menu_item:hover a {
  color: var(--dark-grey);
}

.menu_item a:hover {
  color: var(--dark-grey);
}

.SubMenu_list {
  display: none;
  position: absolute;
  padding-left: 0;
  color: var(--dark-grey);
  background-color: rgba(255, 255, 255, 1);
}

.show_SubMenu:hover .SubMenu_list {
  display: block;
}

/* BURGER MENU - MOBILE */
.burger_menu {
  display: none;
  width: 6rem;
  height: 6rem;
  background-color: rgba(250, 7, 7, 1);
}

/* HERO SECTION */

.hero {
  display: flex;
  max-width: 120rem;
  height: 45rem;
  align-items: center;
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 120rem;
  width: 100%;
  margin-top: 10rem;
}

.hero_text,
.hero_title {
  width: 60rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.hero_title {
  font-size: 3rem;
}

.hero_cards {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}

.hero_card-content {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 40% calc(60% - 1rem);
  background-color: rgba(255, 255, 255, 0.2);
  width: 23rem;
  height: 12rem;
  gap: 1rem;
}

.hero_card-content:after {
  content: "";
  height: 0.2rem;
  width: 23rem;
  background-color: #ffffff;
  margin: 0;
  position: relative;
  top: -1.2rem;
}

.hero_card-content:hover {
  transform: scale(1.2);
  background-color: var(--second-color-7);
  transition: all ease-in-out 0.5s;
  position: relative;
  z-index: 500;
  cursor: pointer;
}

.hero_card-content:hover:after {
  background-color: var(--third-color);
}

.hero_card-content:first-of-type {
  margin-left: 0;
}

.hero_card-content:last-of-type {
  margin-right: 0;
}

/* .card_focus {
  transform: scale(1.2);
  background-color: var(--second-color-7);
  transition: all ease-in-out 0.5s;
  position: relative;
  z-index: 500;
  cursor: pointer;
}

.card_nofocus:hover .card_focus {
  transform: scale(1);
  background-color: rgba(255, 255, 255, 0.2);
} */

.hero_card-img {
  width: 2.2rem;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  margin: 2rem 0 0 2rem;
  justify-content: center;
}

.hero_card-title {
  font-size: 1.4rem;
  color: #ffffff;
  margin: 2rem 2rem 0 1rem;
}

.hero_card-text {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0 2rem 2rem 1rem;
}

/* MAIN SECTION */

.site_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site_main-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
  margin: 4rem 0 1rem 0;
}

.site_main-title {
  grid-column: 4 / 10;
  grid-row: 1 / 2;
  text-align: center;
  margin: 5rem 0 2rem 0;
  color: var(--second-color);
}

.site_main-services {
  grid-column: 4 / 10;
  grid-row: 2 / 3;
  text-align: center;
  font-size: 1.8rem;
}

.site_main-text {
  grid-column: 4 / 10;
  grid-row: 3 / 4;
  text-align: center;
}

.site_main-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}

.site_main-card1 {
  grid-column: 1 / 4;
}

.site_main-card2 {
  grid-column: 4 / 7;
}

.site_main-card3 {
  grid-column: 7 / 10;
}

.site_main-card4 {
  grid-column: 10 / 13;
}

.site_main-CardContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  position: relative;
}

.site_main-CardContent::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 40rem;
  bottom: 16rem;
  z-index: -100;
}

.site_main-CardContent:hover {
  background-color: var(--light-grey);
}

.site_main-CardContent:hover::before {
  background-color: var(--light-grey);
}

.site_main-CardIcon {
  grid-row: 1 / 2;
  height: 5rem;
  width: 5rem;
  margin: 5rem 0 0 1rem;
  background-color: var(--second-color);
  border-radius: 50%;
  position: relative;
}

.icon1:after {
  content: "";
  display: block;
  height: 3rem;
  width: 100%;
  background-image: url("../img/icon_implants.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.icon2:after {
  content: "";
  display: block;
  height: 3rem;
  width: 100%;
  background-image: url("../img/icon_brackets.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.icon3:after {
  content: "";
  display: block;
  height: 3rem;
  width: 100%;
  background-image: url("../img/icon_whitening.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.icon4:after {
  content: "";
  display: block;
  height: 3rem;
  width: 100%;
  background-image: url("../img/icon_smile-design.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.site_main-CardTitle {
  grid-row: 2 / 3;
  text-align: left;
  font-size: 1.8rem;
  margin: 2rem 0;
  padding: 0 1rem;
}

.site_main-CardText {
  grid-row: 3 / 4;
  text-align: left;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  padding: 0 1rem;
}

.arrow_btn {
  display: block;
  margin: 0 0 5rem 1rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--second-color);
  position: relative;
  cursor: pointer;
}

.arrow_btn::after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  background-image: url("../img/arrow_right.svg");
  background-position: center;
  background-repeat: no-repeat;
  top: 15%;
  left: 12%;
}

/* CONTACT SECTION */

.site_contact {
  display: flex;
}

.site_contact-left {
  display: block;
  background-image: url("../img/site_contact_left.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 25rem;
}

.site_contact-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(
      215deg,
      rgba(6, 6, 200, 0.6),
      rgba(6, 6, 200, 0.8)
    ),
    url("../img/site_contact_right.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 25rem;
  padding: 5rem;
}

/* NOT NEEDED */
/* .btn-contact-right {
  display: flex;
  justify-content: flex-start;
} */

.site_contact-title {
  color: #ffffff;
  font-size: 2.5rem;
}

.site_contact-text {
  color: #ffffff;
  font-size: 1.4;
}

/* FEATURES SECTION */

.site_features {
  text-align: center;
  padding: 5rem 0 7rem 0;
}

.site_features-title {
  color: var(--second-color);
  margin-bottom: 2rem;
}

.site_features-text {
  font-size: 1.4rem;
  margin: 0 auto 5rem auto;
  max-width: 45rem;
}

.site_features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: 40rem;
  text-align: left;
  color: #ffffff;
}

.grid_card-1 {
  background-image: linear-gradient(
      to left,
      rgba(0, 80, 239, 0.8),
      rgba(0, 80, 239, 0.8)
    ),
    url("../img/grid_our_stafff.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  position: relative;
}

.grid_card-1::after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  background-image: url("../img/arrow_right-w.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  padding: 2rem;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
}

.grid_card-2 {
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 49, 0.6),
      rgba(47, 48, 49, 0.6)
    ),
    url("../img/grid_online_inquiries.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  position: relative;
}

.grid_card-3 {
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 49, 0.6),
      rgba(47, 48, 49, 0.6)
    ),
    url("../img/grid_near-you.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  position: relative;
}

.grid_card-4 {
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 49, 0.6),
      rgba(47, 48, 49, 0.6)
    ),
    url("../img/grid_store.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: relative;
}

.grid_card-2::after,
.grid_card-3::after,
.grid_card-4::after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  background-image: url("../img/arrow_right-w.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  padding: 2rem;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
}

.grid_content {
  padding: 4rem;
}

.grid_title {
  font-size: 1.8rem;
  position: relative;
}

.grid_title::after {
  content: "";
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 2rem;
  background-color: #ffffff;
  top: 3rem;
}

.grid_text {
  font-size: 1.4rem;
  margin-top: 2rem;
}

.grid_content.grid_card-1 {
  padding-top: 85%;
}

/* FOOTER SECTION */

.site_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--dark-grey);
  color: #ffffff;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_content-main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  padding-right: 30rem;
}

.footer_content-contact {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer_content-title {
  font-size: 1.6rem;
}

.footer_content-phone {
  color: var(--second-color);
}

.footer_content-schedules {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
}

.footer_content-schedules p {
  font-size: 1.1rem;
  grid-column: 1 / 2;
}

.footer_content-schedules span {
  font-size: 1.1rem;
  grid-column: 2 / 3;
}

/*  */

/*  */

/*  */

.footer_content-bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #1a1919;
}

.bottomBar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_content-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  height: 5rem;
}

.footer_content-social img {
  width: 100%;
  height: 2rem;
}
