:root {
  --main-color: #a7dfff;
  --second-color: #faca47;
  --dark-grey: #383636;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/* GLOBAL STYLES */

img {
  width: 100%;
}

h1 {
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  margin: 0;
}

h4 {
  font-size: 2rem;
  margin: 0;
}

p,
a {
  font-size: 1.6rem;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* UTILITIES */

.container {
  width: 70%;
  max-width: 120rem;
  margin: 0 auto;
}

.no-margin {
  margin: 0;
}

/* SITE HEADER */
.site_header {
  height: 60rem;
  background-image: url(/img/site_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(16, 18, 119, 0.6);
}

/* MENU BAR */

.menu_bar {
  max-width: 100vw;
  height: 6rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.4);
}

.menu_bar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_bar-items a {
  display: flex;
  color: #ffffff;
  text-decoration: none;
}

.menu_bar-items p {
  text-align: center;
  font-size: 2.5rem;
}

.menu_bar-items span {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--main-color);
}

.menu {
  margin: 0 0 0 auto;
}

.menu_list {
  display: flex;
  margin: 0;
}

.menu_item,
.SubMenu_item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu_item a {
  height: 6rem;
  width: 12rem;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.SubMenu_item a {
  width: 12rem;
  color: var(--dark-grey);
  padding: 0 1rem;
}

.menu_item :hover {
  background-color: rgba(255, 255, 255, 1);
}

.menu_item a:hover {
  color: var(--dark-grey);
}

.show_SubMenu a {
  position: relative;
  z-index: 300;
}

.SubMenu_list {
  display: none;
  position: absolute;
  padding-left: 0;
  color: var(--dark-grey);
  background-color: rgba(255, 255, 255, 1);
  z-index: 100;
}

.show_SubMenu:hover .SubMenu_list {
  display: block;
  top: 6rem;
}

/* .SubMenu_list:focus .menu_item {
  display: block;
  background-color: #ffffff;
} */

/* BURGER MENU - MOBILE */
.burger_menu {
  display: none;
  width: 6rem;
  height: 6rem;
  background-color: rgba(250, 7, 7, 1);
}

/* HERO SECTION */

.hero_content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10% 25% 65%;
  height: 35rem;
  align-items: center;
}

.hero_text {
  grid-column: 1 / 9;
  grid-row: 1 / 2;
  background-color: red;
}

.hero_title {
  grid-column: 1 / 9;
  grid-row: 2 / 3;
  background-color: yellow;
}

.hero_cards {
  display: grid;
  grid-column: 1 / 13;
  grid-row: 3 / 4;
  background-color: green;
}

.card1 {
  grid-column: 1 / 4;
}

.card2 {
  grid-column: 4 / 7;
}

.card3 {
  grid-column: 7 / 10;
}

.card4 {
  grid-column: 10 / 13;
}

.hero_card-content {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: repeat(2, 1fr);
}

.hero_card-img {
  width: 2.5rem;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.hero_card-title {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.hero_card-text {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
